* {
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
}

.background {
  background-image: url(./assets/backgroundimage.jpg);
  height: 100vh;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 3%;
}

.gamename {
  color: #c7c7c7;
  -webkit-text-stroke: 1px black;
}

.title label {
  font-size: 30px;
}

.display {
  color: #c7c7c7;
  font-size: 27px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-text-stroke: 1px black;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: 35% 35% 35%;
  max-width: 300px;
  justify-content: center;
  gap: 2px;
}

.tile {
  border: 1px solid black;
  border-radius: 100%;
  min-width: 20px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  box-shadow: -2px -2px 12px #000000;
  color: rgb(0, 0, 0);
  margin: 5px;
  background-color: #c7c7c7;
}

.tile:hover{
  background-color: #b4b4b4;
}

.tile:active {
  background: rgb(0, 0, 0);
  color: #c7c7c7;
  z-index: 9;
}

.playerX {
  color: black
}

.playerO {
  color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  padding: 3px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: -5px -5px 12px #000000, 5px 5px 12px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.restart {
  background-color: #c7c7c7;
}

.restart:hover {
  background-color: #b4b4b4;
}
#reset {
  background-color: #c7c7c7;
}

#reset:hover {
  background-color: #b4b4b4;
}

#reset:active {
  background-color: rgb(0, 0, 0);
  color: #c7c7c7;
}
